/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}

.spinner{
    margin-left: auto;
    margin-right: auto;
    width: 128px;
    height: 128px;
    display: block;
}

.card-header .header-as-link{
    color: #0088bb;
}

.card-header .header-as-link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.cardOverlay{
    background: rgba(0, 0, 0, 0.4);
}

.cardOverlay .card-text{
    color: #ffffff;
    font-weight: bold;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

