<div class="row">
    <div class="col-md-9">
        <h1>
            <span class="display-4" jhiTranslate="home.title">Welcome</span> <span *ngIf="isAuthenticated()">{{account.login}}</span>
        </h1>

        <p class="lead" jhiTranslate="home.subtitle">if the english is not your language change it from language menu</p>
        <!--
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">

            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a
                    new account</a>
            </div>
        </div>
        -->
    </div>
</div>
