<div class="row">
    <div class="col-md-12">
        <h1>
            <span class="display-4" jhiTranslate="home.title">Welcome</span> <span *ngIf="isAuthenticated()">{{account.login}}</span>
        </h1>

        <p class="lead" jhiTranslate="home.subtitle">if the english is not your language change it from language
            menu</p>
        <h2> Playlists </h2>
        <div *ngFor="let list of playlist; let i = index">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" >
                        <h5 class="mb-0 header-as-link" (click)="collapseSection(list.playlistId)">
                            {{list.playlistName}}
                        </h5>
                    </div>

                    <div [id]="list.playlistId" [class]="i === 0?'collapse show':'collapse'" class="collapse"
                         role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block">
                            <div class="card-group">
                                <div *ngFor="let video of list.videos">
                                    <div class="card card-inverse" *ngIf="!video.displayFrame"
                                         (click)="displayVideo(video)">
                                        <img class="card-img" src="{{video.thumbnail.url}}"
                                             height="{{video.thumbnail.height}}"
                                             width="{{video.thumbnail.width}} ">
                                        <div class="card-img-overlay cardOverlay">
                                            <p class="card-text">{{video.title}}</p>
                                        </div>
                                    </div>
                                    <div class="card card-inverse" *ngIf="video.displayFrame">
                                        <iframe id="ytplayer" type="text/html" width="640" height="360"
                                                [src]="video.url"
                                                frameborder="0"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <!--
    <div [ngSwitch]="isAuthenticated()">
        <div class="alert alert-success" *ngSwitchCase="true">

        </div>

        <div class="alert alert-warning" *ngSwitchCase="false">
            <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
            <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a
                new account</a>
        </div>
    </div>
    -->
</div>
